.app {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.app .app-title {
  margin: 0;
  text-align: center;
  font-size: 35px;
  color: #6a8ec4;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 25px;
  outline: none;
}

.search-button {
  background: #6a8ec4;
  border-radius: 25px;
  margin-left: 10px;
  border: none;
  padding: 10px 20px;
  color: white;
  outline: none;
}

.recipes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
